.taskList {
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.4);
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Source Code Pro", monospace;
    border-radius: 10px 10px 30px 30px;
}

.list {
    margin: 20px;
    text-align: justify;
}
button {
    padding-left: 50px;
    font-size: large;
    color: teal;
    font-weight: bolder;
}